@charset "UTF-8";
/*Paleta de colores*/
/*tamaño de fuentes*/
/*resolucion de pantallas*/
/*fuentes*/
body,
header {
  background-color: white;
}

body {
  text-align: center;
}

li,
ul {
  list-style-type: none;
}

h2 {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

.pres2,
.doble,
.footer {
  padding: 80px;
  margin-top: 30px;
}

.btn,
.btn-dark {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
  border-color: black;
  background-color: rgb(35, 35, 35);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.pres1 {
  margin: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 800px;
  width: 100%;
  font-size: 4.688rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondopize.jpeg);
  background-position: center;
  color: #ececec;
}

header {
  margin: 0;
  background-color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 20px;
  justify-content: space-around;
}

ul {
  margin: 0;
  background-color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 20px;
  gap: 30px;
  list-style-type: none;
}

li a {
  margin: 0;
  background-color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
}
li a:hover {
  color: rgb(176, 0, 0);
}

.navbar {
  height: 150px;
}

footer {
  height: 400px;
  padding-top: 50px;
  padding: 25;
  margin-top: 0px;
  align-items: center;
  text-align: center;
}

.redes {
  margin-top: 50px;
  margin-bottom: 90px;
}

@media (min-width: 768px) {
  .navbar-brand {
    padding-right: 250px;
  }
}
.fotos1 {
  display: block;
}

.pizza1 {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  padding: 20px;
  border: solid 2px rgb(35, 35, 35);
}

.pres2 {
  border-bottom: solid 1px rgb(35, 35, 35);
  border-top: solid 1px rgb(35, 35, 35);
}

.hora {
  padding: 25px;
  border: solid white;
  text-align: center;
  margin-top: 25px;
  list-style-type: none;
}

.horarios {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.delivery {
  text-align: center;
  margin-top: 40px;
  line-height: 120px;
}

.doble {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondoempanadas.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 30px;
}

.lista {
  padding: 35px;
  margin: 0;
  display: block;
  text-align: center;
  color: white;
  text-align: center;
  line-height: 4.688rem;
}

.pizzas {
  padding: 35px;
  margin: 0;
  display: block;
  text-align: center;
  color: white;
  border: solid 3px black;
  background-color: rgb(35, 35, 35);
}

.pizzas1 {
  padding: 35px;
  margin: 0;
  display: block;
  text-align: center;
  color: white;
  border: solid 3px black;
  background-color: rgb(49, 47, 47);
}

.titulosmenus {
  padding: 35px;
  margin: 0;
  display: block;
  text-align: center;
  color: white;
  font-size: 35px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
}

input {
  display: grid;
  width: 100%;
  height: 70px;
  margin: 10px;
  color: white;
  border: solid 1px black;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  text-align: center;
}

input:hover {
  background: rgb(35, 35, 35);
  color: white;
}

.formularioc {
  display: block;
  text-align: center;
  border: solid 2px black;
  margin: 80px;
  padding: 40px;
}

.galp {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 35px;
  background-color: rgb(49, 47, 47);
  margin: 0;
}

.carousel-item img {
  background-color: rgb(49, 47, 47);
  padding: 35px;
  padding-bottom: 50px;
  height: 25%;
  width: 100%;
  border-bottom: solid 2px black;
}

h6 {
  color: white;
  font-size: 20px;
}

.mapa {
  border: solid 3px black;
  border-radius: 50px;
  text-align: center;
  margin: 50px;
  padding: 80px;
  height: 800px;
}

.direc {
  color: rgb(49, 47, 47);
  padding: 80px;
  margin-top: 30px;
  padding: 0px;
}

/*# sourceMappingURL=styles.css.map */
