.lista {
    @include menus;

    text-align: center;
    line-height: $fuente-grande;

}

.pizzas {
    @include menus;

    border: solid 3px $color-invertido;

    background-color: $color-terciario;
}

.pizzas1 {
    @include menus;

    border: solid 3px black;

    background-color: $color-secundario
}

.titulosmenus {
    @include menus;
    font-size: 35px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;

}